*{
margin:0;
padding:0;
font-family:Arial;
}

header{
background-image:url(12/123.jpg);
background-position:center;
background-size:cover;
height:100vh;
}

ul{
float:right;
margin-top:20px;
}

li{
display:inline-block;
}

a{
line-style-type:none;
text-decoration:none;
padding:2px;
color:white;
border:1px solid transparent;
border-radius:3px; 
transition: 0.9s ease;

}

.active a{
color:black;
background-color:white;


}

a:hover{
color:black;
background-color:white;
}

.main{
max-width: 1200px;
margin:auto;
}

.title{
position:absolute;
top:50%; 
left:50%;
color:white;
font-size:90px;
transform:translate(-50%,-50%);
background:dodgerblue;
border:2px solid white;
}
