.parallax{
    background-image: url(pics/58.jpg);
    min-height: 1200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    float: right;
    margin-top: 20px;
    margin-right: 5px;
}

ul li{
  display: inline-block;    
}

ul li a{
    list-style-type: none;
    text-decoration: none;
    padding: 3px;
    color: white;
    border:1px solid transparent;
    border-radius:3px; 
    transition: 0.9s ease;
    font-size: 20px;
    font-family: monospace;
}

.active a{
color:black;
background-color:white;
}

a:hover{
color:black;
background-color:white;
}

.header{
    text-decoration: none;
    float: right;
    color: white;
    font-family: monospace;
    font-size: 80px;
    margin-top: 90px;
    border: 3px solid white;
    }

.cruises{
    background-color: ghostwhite;
    color: black;
    font-family: monospace;
    font-size: 25px;
    text-align: center;    
}


figcaption{
    font-family: monospace;
    font-size: 25px;
    text-align: center;
}

figure{
    float: left;
    background-color: ghostwhite;
    border: 20px solid ghostwhite;
}

.info{
    margin-left: 35px;
    width: 90%;
    border: 5px solid ghostwhite;
    border-radius: 4px;
    background-color: ghostwhite;
    color: black;
    font-family: monospace;
    font-size: 25px;
    padding:  30px;
}
